*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    text-align: center;
    background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1{
    color: #5B2A86;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 5%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3{
    color: #360568;
}
.answer{
    border: 2px solid rgb(34, 34, 87);
    padding: 2%;
    border-radius: 5px;
}
p{
    opacity: 0.7;
    color: #7785AC;
}

h4{
    padding: 2%;    
    opacity: 0;
}
h4:hover{
    opacity: 1;
    color: maroon;
}